 /*GENERAL*/
 
 :root {
     --color-one: black;
     --color-two: yellow;
     --color-three: silver;
     --color-four: rgb(99, 99, 99);
     --color-five: rgb(38, 38, 38);
     --color-six: rgb(78, 206, 144);
     --color-seven: gainsboro;
 }
 
 *,
 *:before,
 *:after {
     border: 0px;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
 }
 
 *::-webkit-scrollbar {
     width: 0!important;
     background-color: transparent!Important;
     display: none!Important;
 }
 
 html,
 body {
     font-weight: 100;
     width: 90%;
     position: relative;
     margin: 0px;
     padding: 0px;
     font-size: 1.0rem;
     line-height: 1.4rem;
     -webkit-appearance: none;
     height: 100%;
     margin: 0;
 }
 
 h1 {
     font-size: 1rem;
 }
 
 img {
     max-width: 90vw;
     height: auto;
     display: block;
 }
 /*///////////////////////////
///HELPER////////////////*/
 
 div#toast {
     position: fixed;
     height: auto;
     overflow: none;
     top: -100px;
     background: black;
     color: white;
     z-index: 5000;
     min-width: 100%;
     padding: 5px;
 }
 /*///////////////////////////
///FINDER////////////////*/
 
 div#navigation {
     position: fixed;
     height: 30px;
     background: black;
     width: 100%;
     top: 0px;
     left: 0px;
 }
 
 div#navigation div {
     height: 20px;
     color: yellow;
     text-align: center;
 }
 
 div#app {
     position: relative;
     background: white;
     padding: 5px;
     color: black;
     height: 100vh;
     width: 90vw;
     font-weight: normal;
 }
 
 div#app div#app-panels article {
     margin: 0 0 10px 0;
     font-weight: normal;
     min-width: 95vw;
 }
 
 div#app div#app-panels {
     margin: 30px 0 0 0;
 }
 
 div#app div#app-panels article:focus {
     background: silver;
 }
 
 div#app div#app-panels article h1 {
     font-size: 1rem;
     font-weight: bold;
 }
 
 div#app div#app-panels article div.meta-data {
     font-size: 0.8rem;
     display: none;
 }
 
 div#app div#app-panels article div.meta-data span {
     font-size: 0.8rem;
     font-weight: bold;
 }
 
 div#app div#app-panels article div.icon {
     display: none;
 }
 
 div#app div#app-panels article div.icon img {
     width: 30px;
 }
 
 div#app div#app-panels article div.channel {
     font-size: 0.8rem;
 }
 
 div#app div#app-panels article div.summary {
     display: none;
     padding: 0 0 20px 0;
 }
 
 div#source-page {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 2000;
     background: white;
     min-height: 100vh;
     width: 101vw;
     overflow: scroll;
 }
 
 div#source-page div#iframe-wrapper {
     position: relative;
     padding-bottom: 56.25%;
     /* ratio 16x9 */
     height: 0;
     overflow: scroll;
     width: 100%;
     height: 15000px;
     overflow: scroll;
 }
 
 div#source-page iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 15000px;
     overflow: scroll;
 }
 
 div#button-bar {
     position: fixed;
     bottom: 16px;
     left: 0px;
     display: none;
     height: 10px;
     z-index: 3000;
 }
 
 div#button-bar div#inner {
     position: relative;
 }
 
 div#button-bar div {
     background: black;
     color: white;
     padding: 2px;
 }
 
 div#button-bar div#button-left {
     background: black;
     color: white;
     padding: 2px;
 }
 
 div#button-bar div#button-right {
     background: black;
     color: white;
     padding: 2px;
     width: 92px;
 }
 
 div#message-box {
     display: block;
     position: fixed;
     top: 0px;
     left: 0px;
     padding: 40px 10px 10px 10px;
     min-width: 100vw;
     height: 100vh;
     background: black;
     color: white;
     z-index: 2000;
 }
 
 div#app div#app-panels article.About {
     background: black!Important;
     color: white!Important;
     min-width: 100vw;
     max-width: 100vw;
     height: 100vh;
     font-size: 0.8rem;
     padding: 10px 5px 40px 5px;
     margin: -5px 0 0 0;
     display: none;
 }
 
 div#app div#app-panels article.About div#contributors {
     margin: 8px 0 0 0;
 }
 
 div.footer {
     position: fixed;
     bottom: 0px;
     left: 0px;
     right: 0px;
     background: black!Important;
     color: yellow!Important;
     width: 99%;
     height: 30px;
     text-align: center;
     font-size: 0.8rem;
 }
 /* KaiOS portrait devices (240x320) */
 
 @media only screen and (orientation: portrait) {
     /* styles */
 }
 /* KaiOS landscape devices (320x240) */
 
 @media screen and (orientation: landscape) {
     /* styles */
 }