 /*GENERAL*/
 
 :root {
     --color-one: black;
     --color-two: yellow;
     --color-three: silver;
     --color-four: rgb(99, 99, 99);
     --color-five: rgb(38, 38, 38);
     --color-six: rgb(78, 206, 144);
     --color-seven: gainsboro;
 }
 
 *,
 *:before,
 *:after {
     border: 0px;
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
 }
 
 *::-webkit-scrollbar {
     width: 0!important;
     background-color: transparent!Important;
     display: none!Important;
     overflow: -moz-scrollbars-none;
     -webkit-appearance: none;
 }
 
 :focus {
     outline: none;
 }
 
 ::-moz-focus-inner {
     border: 0;
 }
 
 input[type=range]::-moz-focus-outer {
     border: 0;
 }
 
 html,
 body {
     font-weight: 100;
     width: 100vw;
     position: relative;
     margin: 0px;
     padding: 0px;
     font-size: 1.0rem;
     line-height: 1.4rem;
     -webkit-appearance: none;
     height: 100%;
     margin: 0;
 }
 
 h1 {
     font-size: 1rem;
 }
 
 img {
     max-width: 90vw;
     height: auto;
     display: block;
 }
 
 .debug {
     outline: 1px solid red;
 }
 /*///////////////////////////
///HELPER////////////////*/
 
 div#toast {
     position: fixed;
     height: auto;
     overflow: none;
     top: -100px;
     background: black;
     color: white;
     z-index: 5000;
     min-width: 100%;
     padding: 5px;
 }
 /*///////////////////////////
///APPS////////////////*/
 
 div#navigation {
     position: fixed;
     height: 30px;
     background: black;
     width: 100%;
     top: 0px;
     left: 0px;
 }
 
 div#navigation div {
     height: 20px;
     color: yellow;
     text-align: center;
 }
 
 div#app {
     position: relative;
     background: white;
     padding: 5px;
     color: black;
     height: 100vh;
     width: 100vw;
     font-weight: normal;
 }
 
 div#app div#app-panels article {
     margin: 0px 0 10px 0;
     font-weight: normal;
     min-width: 95vw;
     max-height: 100%;
     overflow: scroll;
 }
 
 div#app div#app-panels {
     margin: 32px 0 0 0;
     max-height: 78%;
 }
 
 div#app div#app-panels article:focus {
     background: silver;
 }
 
 div#app div#app-panels article h1 {
     font-size: 1rem;
     font-weight: bold;
 }
 
 div#app div#app-panels article div.meta-data {
     font-size: 0.8rem;
     display: none;
 }
 
 div#app div#app-panels article div.meta-data span {
     font-size: 0.8rem;
     font-weight: bold;
 }
 
 div#app div#app-panels article div.icon {
     margin: 0 0 10px 0;
     display: none;
 }
 
 div#app div#app-panels article div.icon img {
     width: 30px;
     margin: 7px 0 7px 0;
 }
 
 div#app div#app-panels article div.channel {
     font-size: 0.8rem;
     font-weight: bold;
 }
 
 div#app div#app-panels article div.summary {
     display: none;
     padding: 0 0 20px 0;
 }
 
 div#app div#app-panels article ul.images {
     display: none;
     padding: 15px 0 50px 0;
 }
 
 div#app div#app-panels article ul.images li {
     margin: 0 0 10px 0;
     min-width: 100%;
 }
 
 div#app div#app-panels article ul.images li img {
     min-width: 100%;
 }
 
 div#app div#app-panels article.About {
     background: white!Important;
     color: black!Important;
     width: 100vw;
     height: 100vh;
     font-size: 0.8rem;
     padding: 0px 3px 3px 3px;
     margin: -5px 0 0 0;
     display: none;
 }
 
 div#app div#app-panels article.About h1 {
     margin: 15px 0 0 0;
     text-align: center;
     font-size: 1rem;
 }
 
 div.footer {
     position: fixed;
     bottom: 0px;
     left: 0px;
     background: black!Important;
     color: yellow!Important;
     width: 100vw;
     height: 20px;
     padding: 3px 3px 3px 3px;
     text-align: center;
     font-size: 0.8rem;
     z-index: 6;
 }
 
 div#options {
     width: 100vw;
     height: 100vh;
     background: black;
     position: fixed;
     top: 0px;
     left: 0px;
     display: none;
 }
 
 div#options div {
     width: 100vw;
     height: 100vh;
     background: black;
     position: relative;
     padding: 5vw;
 }
 
 div#options div div {
     width: 90vw;
     height: 30px;
     background: white;
     color: black;
     margin: 0 0 5px 0;
     position: relative;
     padding: 3px;
 }
 
 div#options div div:focus {
     background: silver;
 }
 /*/////////////////
///BUTTON BAR////
////////////////*/
 
 div#button-bar {
     position: fixed;
     bottom: 16px;
     left: 0px;
     height: 10px;
     z-index: 2;
 }
 
 div#button-bar div#inner {
     position: relative;
 }
 
 div#button-bar div {
     background: black;
     color: white;
     padding: 2px;
 }
 
 div#button-bar div#button-left {
     background: black;
     color: black;
     padding: 2px;
     width: 30%;
     text-align: left;
 }
 
 div#button-bar div#button-center {
     background: black;
     color: white;
     padding: 2px;
     width: 30%;
     text-align: center;
 }
 
 div#button-bar div#button-right {
     background: black;
     color: black;
     padding: 2px;
     width: 30%;
     text-align: right;
 }
 /*/////////////////
///INTRO////
////////////////*/
 
 div#message-box {
     animation-name: example3;
     display: block;
     position: fixed;
     top: 0px;
     left: 0px;
     padding: 40px 10px 10px 10px;
     min-width: 100vw;
     height: 100vh;
     background: black;
     color: white;
     z-index: 3;
     animation-duration: 2s;
     animation-timing-function: ease-in;
     animation-fill-mode: forwards;
     animation-iteration-count: 1;
     animation-play-state: paused;
 }
 
 div#message-box img.icon-1 {
     animation-name: example;
     animation-duration: 1s;
     animation-timing-function: ease-out;
     animation-fill-mode: forwards;
     animation-play-state: paused;
     position: absolute;
     width: 90px;
     left: 30%;
     top: 40%;
 }
 
 div#message-box img.icon-2 {
     animation-name: example2;
     animation-duration: 1s;
     animation-timing-function: ease-out;
     animation-fill-mode: forwards;
     position: absolute;
     animation-play-state: paused;
     transform: rotate(120deg);
     width: 90px;
     z-index: 5;
     left: 30%;
     top: 40%;
 }
 
 @keyframes example {
     from {
         left: 30%;
         top: 40%
     }
     to {
         left: 200px;
         top: 300px;
     }
 }
 
 @keyframes example2 {
     from {
         left: 30%;
         top: 40%;
     }
     to {
         left: -100px;
         top: 300px;
     }
 }
 
 @keyframes example3 {
     from {
         opacity: 100;
     }
     to {
         opacity: 0;
     }
 }
 /* KaiOS portrait devices (240x320) */
 
 @media only screen and (orientation: portrait) {
     /* styles */
 }
 /* KaiOS landscape devices (320x240) */
 
 @media screen and (orientation: landscape) {
     /* styles */
 }